kafka:
  clusters:
    - name: local
      bootstrapServers: localhost:9092
      # properties:
      #   security.protocol: SASL_SSL
      #   sasl.mechanism: PLAIN
      #   sasl.jaas.config: "org.apache.kafka.common.security.plain.PlainLoginModule required username='user' password='pass';"
      # schemaRegistry: http://localhost:8081
      # schemaRegistryAuth:
      #   username: sr-user
      #   password: sr-pass

kgazer:
  server:
    port: 8080
  db:
    host: localhost
    port: 5432
    name: kgazer
    user: kgazer
    password: kgazer
    sslmode: disable
  compactedOnly: true
